cloud_id                 = "A"
folder_id                = "B"
zone                     = "C"
image_id                 = "D"
public_key_path          = "E"
subnet_id                = "F"
service_account_key_file = "packer/key.json"
